<!--<mat-card class="example-card">-->
<!--  <div>-->
<!--    <mat-form-field class="subjectId">-->
<!--      <input type="text" matInput placeholder="Subject Id" [(ngModel)]="subject.subjectId" [disabled]="true">-->
<!--    </mat-form-field>-->
<!--  </div>-->
<!--  <div>-->
<!--    <mat-form-field class="forename">-->
<!--      <input type="text" matInput placeholder="Forename" [(ngModel)]="subject.forename">-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="surename">-->
<!--      <input type="text" matInput placeholder="Surename" [(ngModel)]="subject.surename">-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="email">-->
<!--      <input type="text" matInput placeholder="Email" [(ngModel)]="subject.email">-->
<!--    </mat-form-field>-->

<!--    <button mat-raised-button color="primary" (click)="onSubmit(subject)">Update</button>-->
<!--    <button mat-raised-button color="primary" [routerLink]="['/subjects']">Go back</button>-->

<!--  </div>-->
<!--</mat-card>-->



