<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>My loans</mat-card-title>
  </mat-card-header>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="loanId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Loan id</th>
      <td mat-cell *matCellDef="let element"> {{element.loanId}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Value</th>
      <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>

    <ng-container matColumnDef="loanTypeId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Loan type</th>
      <td mat-cell *matCellDef="let element"> {{element.loanTypeId}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="100"
                 [pageSize]="5"
                 [pageSizeOptions]="[3, 5, 10, 25, 100]">

  </mat-paginator>
</mat-card>
